<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <% @secrets.each do |x|%>
        <ul>
        <li><%=x.content%></li>
    </ul>
        <%end%>
    </body>
</html>
