<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=@event.name%></h1>
        <h1><%=@comment.content%></h1>
        <h1><%=@event.comments%></h1>
    </body>
</html>
