<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h2><%=@user.name%>'s Secrets</h2>

        <%@secrets.each do |x|%>
        <ul>


        <li><%=x.content%></li>
        </ul>
        <%end%>
        <a href='/users/home' data-method ='get'>Home</a>
    </body>
</html>
