<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p><%=@student1.created_at%></p>
        <p><%=@result%></p>
        <p><%=@s1comp%> is <%=@s2comp%></p>
    </body>
</html>
